<section class="section about-section" id="about">
  <div class="container">
    <div class="about-us-info">
      <h2 class="about-title">About Us</h2>
      <p class="about-text">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="about-text">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <div class="image-rotator about-image-wrapper">
      <picture class="rotator-picture active">
        <source
          media="(max-width:767px)"
          srcset="
            /img/webp/about/about-mobile1x.webp 1x,
            /img/webp/about/about-mobile2x.webp 2x
          "
          type="image/webp" />
        <source
          media="(min-width:768px)"
          srcset="
            /img/webp/about/about-tablet1x.webp 1x,
            /img/webp/about/about-tablet2x.webp 2x
          "
          type="image/webp" />
        <img
          srcset="/img/webp/about/about2x.webp 2x"
          src="/img/webp/about/about1x.webp"
          alt="image embroidery"
          loading="lazy"
      /></picture>
      <picture class="rotator-picture">
        <img
          srcset="/img/webp/about/about-rotate2x.webp 2x"
          src="/img/webp/about/about-rotate1x.webp"
          alt="image embroidery"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
