<section class="section section-bg-image">
  <div class="container container--bg-image">
    <h2 class="visually-hidden">Big Image</h2>
    <picture class="bg-image">
      <source
        media="(min-width:1440px)"
        srcset="
          /img/webp/bg-image/bg-image-bigdeck2x.webp 2x,
          /img/webp/bg-image/bg-image-bigdeck1x.webp 1x
        "
        type="image/webp"
      />
      <source
        media="(min-width:1280px)"
        srcset="
          /img/webp/bg-image/bg-image-smalldeck2x.webp 2x,
          /img/webp/bg-image/bg-image-smalldeck1x.webp 1x
        "
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="
          /img/webp/bg-image/bg-image-tablet2x.webp 2x,
          /img/webp/bg-image/bg-image-tablet1x.webp 1x
        "
        type="image/webp"
      />
      <img
        srcset="/img/webp/bg-image/bg-image-mobile2x.webp 2x"
        src="/img/webp/bg-image/bg-image-mobile1x.webp"
        alt="Women in nice blouse"
        loading="lazy"
      />
    </picture>
  </div>
</section>
