<footer class="footer footer-section">
  <div class="container">
    <div class="footer-box-info">
      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#about">About us</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#collection">Our collection </a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#order">CUSTOMER ORDER</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#testimonials">TEstimonials</a>
        </li>
      </ul>
      <h2 class="footer-title">
        A touch of
        <span class="accent">Ukrainian</span> culture in every embroidery
      </h2>
    </div>
  </div>
</footer>
