<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-info">
      <div class="">
        <h1 class="title hero-title">
          Reviving the traditional
          <span class=".hero-title-accent accent">Ukrainian</span> artistry in
          every stitch.
        </h1>
        <button href="#order" class="order-hero-link">
          Order<svg class="arrow-icon" width="50" height="32">
            <use href="/img/icons/icons.svg#icon-untitled"></use>
          </svg>
        </button>
      </div>
      <div class="image-rotator">
        <img
          class="hero-image rotator-img active"
          srcset="/img/webp/hero/hero2x.webp 2x"
          src="/img/webp/hero/hero1x.webp"
          width="335"
          height="545"
          alt="girl in vyshyvanka"
        />
        <img
          class="hero-image rotator-img"
          srcset="/img/webp/hero/hero-rotate2x.webp 2x"
          src="/img/webp/hero/hero-rotate1x.webp"
          width="335"
          height="545"
          alt="girl in vyshyvanka"
        />
      </div>
    </div>

    <div class="little-icon">
      <svg class="icon-made" width="49" height="49" alt="picture star icon">
        <use href="/img/icons/icons.svg#icon-star"></use>
      </svg>
      <p class="text-icon">all embroidery is made by hand</p>
    </div>
  </div>
</section>
