<section class="section section-order" id="order">
  <div class="container order-container">
    <div class="order-wrapper">
      <h2 class="order-title">
        <span class="mobile-title--order"
          ><span class="accent">Subscribe</span> our newsletter to receive the
          latest news and exclusive offers every week.</span
        >
        <span class="tablet-deckstop-title--order"
          ><span class="accent">Your order</span> is our priority: Personalized
          approach and quality of service</span
        >
      </h2>
      <form class="order-form">
        <input
          class="input-order"
          type="text"
          placeholder="Enter your full name"
        />
        <input
          class="input-order"
          type="email"
          placeholder="Enter your email"
        />
        <textarea
          class="input-order comments-order"
          placeholder="Comments"
        ></textarea>
      </form>
      <button class="order-submit">
        Send
        <svg class="arrow-icon" width="42" height="20">
          <use href="/img/icons/icons.svg#icon-untitled"></use>
        </svg>
      </button>
    </div>
    <picture>
      <source
        media="(min-width:1440px)"
        srcset="
          /img/webp/order/order-1440-1x.jpg 1x,
          /img/webp/order/order-1440-2x.jpg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(min-width:1280px)"
        srcset="
          /img/webp/order/order-1280-1x.jpg 1x,
          /img/webp/order/order-1280-2x.jpg 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width:768px)"
        srcset="
          /img/webp/order/order-tablet1x.jpg 1x,
          /img/webp/order/order-tablet2x.jpg 2x
        "
        type="image/webp"
      />
      <img
        class="order-image"
        srcset="/img/webp/order/order2x.jpg 2x"
        src="/img/webp/order/order1x.jpg"
        width="704"
        height="521"
        alt="order-image"
      />
    </picture>
  </div>
</section>
