:root {
  --font-family: 'Manrope', sans-serif;
  --second-family: 'DM Sans', sans-serif;
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --text-color: rgba(252, 249, 249, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  background: var(--black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;

  /* line-height: 48px; */
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: var(--white);
}

h2 {
  font-weight: 500;
  font-size: 32px;

  /* line-height: 44px; */
  line-height: 1.38;
  letter-spacing: -0.03em;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 54px;
    /* line-height: 64px; */
    line-height: 1.2;
  }

  h2 {
    font-size: 44px;

    /* line-height: 64px; */
    line-height: 1.45;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-weight: 400;
    font-size: 64px;
    /* line-height: 74px; */
    line-height: 1.15;
    letter-spacing: -0.03em;
  }
}

.accent {
  color: var(--yellow);
}

.reveal {
  opacity: 0;
  transform: translateY(80px) scale(0.97);
  filter: blur(4px);
  transition:
    opacity 1.1s cubic-bezier(0.16, 1, 0.3, 1),
    transform 1.1s cubic-bezier(0.16, 1, 0.3, 1),
    filter 1.1s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

/* Контейнер rotator */
.image-rotator,
.bg-rotator {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease; /* підлаштовує висоту під активний елемент */
}

/* Для img і picture */
.rotator-img,
.rotator-picture {
  width: 100%;
  display: block;
  height: auto;
  position: absolute; /* для fade */
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.rotator-img.active,
.rotator-picture.active {
  opacity: 1;
  position: relative; /* активний елемент визначає висоту контейнера */
}

/* Для картинок всередині picture */
.rotator-picture img {
  width: 100%;
  height: auto;
  display: block;
}

/* Background rotator */
.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.bg-layer.active {
  opacity: 1;
  position: relative; /* визначає висоту контейнера */
}
