:root {
  --font-family: 'Manrope', sans-serif;
  --second-family: 'DM Sans', sans-serif;
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --text-color: rgba(252, 249, 249, 0.4);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  background: var(--black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;

  /* line-height: 48px; */
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 54px;
    /* line-height: 64px; */
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-weight: 400;
    font-size: 64px;
    /* line-height: 74px; */
    line-height: 1.15;
    letter-spacing: -0.03em;
  }
}

.accent {
  color: var(--yellow);
}
