.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  transform: translateX(100%);
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(0);
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 80px;
  background: var(--yellow);

  max-width: 274px;
  min-height: 100vh;
  padding: 20px;

  background-image: url(/img/bg-pictures/mobile-menu-elem.png);
  background-repeat: no-repeat;
  background-position: 0vw 100%;
  background-size: 342px 302px;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 100%;
}

.menu-header-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(28, 34, 37, 0.1);
  border-radius: 15px;
  padding: 12px 20px;
  font-style: normal;

  transition: border 0.2s ease;
}

.menu-header-contacts:hover,
.menu-header-contacts:focus {
  border: 1px solid var(--yellow);
}

.menu-phone-number {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.12;
  text-transform: uppercase;
  color: var(--black);
}

.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  width: 36px;
  height: 36px;
  padding: 0;
}

.mobile-menu-close-icon {
  width: 18px;
  height: 18px;
  fill: var(--black);
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}

.mobile-menu-nav-link {
  font-weight: 400;
  font-size: 14px;

  line-height: 1.29;
  text-transform: uppercase;
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .menu-container {
    max-width: 380px;
    padding: 20px 32px;
    background-image: url(/img/bg-pictures/menu-tablet-elem.png);
    background-size: contain;
    background-position: 0vw 180%;
  }

  .menu-header-contacts {
    padding: 14px 28px;
  }

  .menu-phone-number {
    font-size: 14px;
    line-height: 1.43;
  }

  .mobile-menu-close {
    width: 44px;
    height: 44px;
  }

  .mobile-menu-close-icon {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
