.section-testimonials .container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.testimonials-list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 64px;
}

.testimonials-items {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  min-height: 100%;

  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 4px;
  padding: 54px 18px 18px 18px;
}

.testimonials-people-img {
  position: absolute;
  top: -32px;
  object-fit: cover;
}

.testimonials-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--white);
}

.testimonials-text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}

@media only screen and (min-width: 768px) {
  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
  }

  .testimonials-items {
    flex: 1 1 calc((100% - 34px) / 2);
  }

  .testimonials-items:nth-child(3) {
    flex-basis: 100%;
  }

  .testimonials-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .testimonials-list {
    flex-wrap: nowrap;
    gap: 26px;
  }

  .testimonials-items,
  .testimonials-items:nth-child(3) {
    flex: 1 1 0;
  }
}
